.App {
  text-align: center;
  background-color: beige;
}

.col,
.col-6 {
  color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  width: 100%;
  display: table;
}

.neutralPet {
  content: url(./images/neutral.svg);
  animation: bounce 2s infinite;
}

.happyPet {
  content: url(./images/happiness.svg);
  animation: bounce 2s infinite;
}

.contemptPet {
  content: url(./images/contempt.svg);
  animation: bounce 2s infinite;
}

.disgustPet {
  content: url(./images/disgust.svg);
  animation: bounce 2s infinite;
} 

.fearPet {
  content: url(./images/fear.svg);
  animation: bounce 2s infinite;
} 

.sadnessPet {
  content: url(./images/sadness.svg);
}

.surprisePet {
  content: url(./images/surprise.svg);
  animation: bounce 2s infinite; 
}

.App-header {
  background-color: beige;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); 
  }
  40% {
    -webkit-transform: translateY(-30px); 
  }
  60% {
    -webkit-transform: translateY(-15px); 
    } 
  }

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); 
  }
  40% {
    -moz-transform: translateY(-30px); 
  }
  60% {
    -moz-transform: translateY(-15px); 
    } 
  }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); 
  }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); 
  }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); 
    } 
  }
